.container {
    display: flex;
}

.menu{
    flex:1 ;
    background-color: var(--bgSoft);
    padding: 20px;
}

.content {
    flex: 4;
    padding: 20px;
}

.wrapper {
    display: flex;
    gap:20px;
    margin-top: 20px;
}
.main{}
.cards{

}
.side{

}